.title-blue {
  @apply text-blackBlue font-semibold
}
.title-secondary {
  @apply text-gray-400 font-semibold
}
html.dark {
  .title-blue {
    @apply text-gray-500
  }
  .title-secondary {
    @apply text-gray-500
  }
}

.line-1{
    position: relative;
    margin: 10px 0;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 40em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.10);}
  to{border-right-color: transparent;}
}

.tag-container p {
    margin-top: 5px;
}

.tag-container p .tag-item{
    @apply bg-gray-700;
    @apply text-slate-400;
    position: relative;
    margin-right: 5px;
    line-height: 1;
    border-radius: 3px;
    padding: 6px 10px 8px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 500;
}

.skill-container li .skill-item{
    position: relative;
    margin-right: 5px;
    line-height: 1;
    border-radius: 3px;
    padding: 6px 10px 8px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 500;
}

.material-symbols-light-check {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%237772cb' d='m9.55 17.308l-4.97-4.97l.714-.713l4.256 4.256l9.156-9.156l.713.714z'/%3E%3C/svg%3E");
}